.container {
  max-width: 638px;
  margin: 0 auto;
  padding-bottom: 64px;
}

.container p {
  text-align: center;
}

.container a {
  display: block;
  margin: 40px auto 0;
  width: 200px;
  text-align: center;
}
