.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
  min-height: calc(100vh - 220px);
}

.inner {
  display: flex;
  flex-direction: column;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.left {
  overflow: hidden;
  border-radius: 10px;

  @media (min-width: 1024px) {
    margin-right: 20px;
    max-width: 400px;
  }
}

.right {
  width: 100%;

  @media (min-width: 1024px) {
    width: 50%;
  }
}
