.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
  margin-bottom: 20px;
}

.navigation {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation li {
  padding: 0 10px;
}

.navigation li:last-child {
  padding-right: 0;
}

.navigation li a {
  font-size: 1rem;
  text-decoration: none;
  line-height: 1.5;
  color: var(--primary-black);
  text-align: left;
}

.navigation a:hover {
  text-decoration: underline;
}

.itemActive {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
