.wrapper {
  display: flex;
  justify-content: space-between;
  /* align-self: center; */
  align-items: center;
  border-radius: 6px;
  border: solid 1px #a2a3b1;
  width: 100%;
  padding: 0 0.2rem;

  @media (min-width: 1024px) {
    width: 100px;
  }
}

.input-control {
  width: 26px;
  padding: 0;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  cursor: default;
}
