.product-wrapper {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;

  margin-bottom: 40px;
}

.product-wrapper button {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}

.product-wrapper img {
  width: 60%;
  border-radius: 10px;
}

.product-wrapper div {
  align-self: center;
  width: 100%;
}

.shop {
  display: flex;
  flex-direction: column;
  padding-top: 20px;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}
